@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-left {
    animation: scroll-left 30s linear infinite;
}

.animate-scroll-left:hover {
    animation-play-state: paused;
    /* stop scrolling */
    transform: scale(1.05);
    /* zoom effect */
    transition-delay: 500ms
}